<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <br></br>
    <hr>
    <form action="/posted" method="post" enctype="multipart/form-data">
        <div>
           Name:: <input type="text" name="name" id="name">
        </div>
        <br><hr>

        <div>
            <br>
          Surname::  <input type="text" name="surname" id="surname">
        </div>
        <br><hr>

        <div>
            <br>
         Your File::   <input type="file" name="file" id="file">
        </div>
        <br><hr>
        <div>
            <br>
            <input type="submit" name="submit" id="submit">
        </div>
        <br><hr>
    </form>

    <br>
    <hr>
        <a href="/multi-file">Goto Multifile Form</a>
    <hr>
    <br>
</body>
</html>