<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <a href="/">Go Back Home</a>
    <br><br><br><br>
    <hr>
    <form action="/multiposted" method="post" enctype="multipart/form-data">
        <div>
            <br>
           Name:: <input type="text" name="name" id="name">
        </div>
        <br>
        <hr>
        <div>
            <br>
           Video:: <input type="file" name="video" id="video" accept="video/*">
        </div>
        <br>
        <hr>
        <div>
            <br>
           Pictre:: <input type="file" name="picture" id="picture" accept="image/*">
        </div>
        <br>
        <hr>
        <div>
            <br>
           Others:: <input type="file" name="other" id="other" accept="text/*">
        </div>
        <br>
        <hr>
        <div>
            <br>
            <input type="submit" name="submit" id="submit">
        </div>
        <br>
    </form>
</body>
</html>