<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <hr>
        <a href="/">Go Back Home</a>
    <hr>
    <br><br>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum iure omnis praesentium qui? Et laudantium, vero, corrupti porro eum, unde quo asperiores enim aliquam esse consequuntur error! Esse, voluptatibus reiciendis?</p>
    <br><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui molestias aliquam unde facere sit rem error blanditiis velit, itaque repellat, atque cupiditate aut deserunt quia fugit quod, perspiciatis iure fugiat.</p>
    <hr>
</body>
</html>